html, body{
    width:100%;
    height:100%;
    margin:0px;
    padding: 0;
    overflow: hidden;
    background-color: green;
 }

div {
    width:100%;
    height:100%;
 }

webview {
    height:100%;
    width:100%;
}

::-webkit-scrollbar {
    display: none;
}