html, body{
    width:100%;
    height:100%;
    margin:0px;
    padding: 0;
    overflow: hidden;
}

div {
    width:100%;
    height:100%;
 }

webview {
    height:100%;
    height:100%;
}

::-webkit-scrollbar {
    display: none;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    pointer-events:none;
    touch-action:none;
}

.overlayTalking{
    background-color:RGBA(0, 255, 0, .1);
}

.copiedBanner {
    height: 60px;
    width: 100%;
    position: absolute;
    z-index: 10;
    background-color: black;
    color: white;
    font-size: 30px;
    padding-top: 20px;
    text-align: center;
    pointer-events:none;
    touch-action:none;
    opacity: 0;
}

.blockedDisplay {
    height: 100px;
    width: 60px;
    position: absolute;
    z-index: 9;
    color: #a6ffb3;
    font-size: 15px;
}