<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!--style-src 'self' 'unsafe-inline' needs evaluation, some conflict with node_modules\electron\dist\resources\electron.asar\renderer\web-view\web-view-impl.js-->
    <meta http-equiv="Content-Security-Policy" content="default-src none; script-src 'self'; style-src 'self' 'unsafe-inline'">
    <link type="text/css" rel="stylesheet" href="./css/settingsStyle.css">
    <link type="text/css" rel="stylesheet" href="./css/titlebar.css">
  </head>

  <body>

    <div class="title-bar" id="titleBar">
      <div class="app-name-container">
        <p>Settings</p>
      </div>
      <div class="window-controls-container">
        <div id="minimize-button" class="minimize-button menu-button">
          <svg height="100%" width="100%" viewBox="0 0 24 24" fill="currentColor" style="display: block; margin: auto" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M20,19H4v-2h16V19z"/></svg>
        </div>
        <div id="close-button" class="close-button menu-button">
          <svg height="100%" width="100%" viewBox="0 0 24 24" fill="currentColor" style="display: block; margin: auto" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M20,5.6L18.4,4L12,10.4L5.6,4L4,5.6l6.4,6.4L4,18.4L5.6,20l6.4-6.4l6.4,6.4l1.6-1.6L13.6,12L20,5.6z"/></svg>
        </div>
      </div>
    </div>

    <div id="settingsContainer" class="settingsContainer">
    <table>
      <tr>
        <td align="right">Enable System-wide Push to Talk</td>
        <td>
          <input type="checkbox" id="pttEnable" name="ptt">
        </td>
      </tr>

      <tr>
        <td align="right">Push to Talk Key</td>
        <td>
          <span id='setPTTKeyButton' class="niceButton">loading...</span>
        </td>
      </tr>

      <tr>
        <td align="right">Push to Talk Release Delay (ms)</td>
        <td>
          <input id='pttDelay' type="number">
        </td>
      </tr>
    </table>
    </div>

    <script src="./js/settingsRender.js"></script>
    <script src="./js/titlebar.js"></script>
  </body>
  
</html>
